<!DOCTYPE html>
<html>
<body>

<form action="/add" method="POST">
    <input type="text" name="skill">
    <button>추가</button>
</form>

<ul>
{% for skill in skills %}
    <li>
    {% if skill == "python" %}
        <span style="color:gray">[backend] {{ skill }}</span>
    {% elif skill == "sql" %}
        <span style="color:purple">[DB] {{ skill }}</span>
    {% elif skill == "html" %}
        <span style="color:orange">{{ skill }}</span>
    {% elif skill == "bash" %}
        <span style="color:green">{{ skill }}</span>
    {% else %}
        <span style="color:black">[ETC] {{ skill }}</span>
    {% endif %}
    </li>
{% endfor %}
</ul>

</body>
</html>